@charset "UTF-8";
/* line 7, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: veritcal;
  -webkit-box-orient: veritcal;
  box-orient: veritcal;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
  margin: 0;
  background-color: #eeeeee;
  font-family: "Droid Serif", serif;
}
/* line 15, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body a {
  text-decoration: none;
}
/* line 18, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body .fill {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 26, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body .content {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
  text-shadow: white 1px 1px 0;
}
/* line 33, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body h1, body h2, body h3 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}
/* line 36, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body h1 {
  text-shadow: none;
}
/* line 39, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body .left {
  background-color: #525252;
  color: white;
  width: 200px;
  padding: 14px;
  color: white;
}
/* line 47, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body .left h1 {
  font-size: 24px;
}
/* line 51, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body .left .avatar img {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
}
/* line 54, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body .copy {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
  -moz-box-shadow: #222222 -3px 0 8px 0;
  -webkit-box-shadow: #222222 -3px 0 8px 0;
  -o-box-shadow: #222222 -3px 0 8px 0;
  box-shadow: #222222 -3px 0 8px 0;
  padding: 8px 14px;
  color: black;
}
/* line 62, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body .copy h2 {
  -webkit-margin-after: 0.2em;
}
/* line 65, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body .copy ul {
  -webkit-margin-before: 0.5em;
  list-style-type: circle;
}
/* line 69, /Users/dwf/workspace/infews/bio/source/dynamic/css/frank.sass */
body .footer {
  color: #999999;
  font-size: 0.8em;
}
