!!! Strict
%html
  %head
    %title Davis W. Frank
    %link{:href => '/css/frank.css',
          :rel =>'stylesheet',
          :type=>'text/css'}
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald:regular",
          :rel => "stylesheet",
          :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?&family=Droid+Serif:regular,italic,bold,bolditalic",
          :rel => "stylesheet",
          :type => "text/css"}
  %body
    .fill
      .content
        .left
          %h1 DAVIS W. FRANK
          .avatar
            .img
        .copy
          = yield