@import 'compass'
@import "compass/css3/box"
@import "compass/css3/gradient"
@import "compass/css3/border-radius"

body
  @include display-box
  @include box-orient(veritcal)
  @include box-align(stretch)
  margin: 0
  background-color: #eee
  font-family: 'Droid Serif', serif

  .fill
    @include display-box
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0

  .content
    @include display-box
    @include box-orient(horizontal)
    @include box-align(stretch)

    text-shadow: #fff 1px 1px 0

  h1, h2, h3
    font-family: 'Oswald', sans-serif
    font-weight: normal
  h1
    text-shadow: none

  .left
    background-color: #454545

    color: white
    width: 200px
    padding: 14px
    color: white

    h1
      font-size: 24px

    .avatar
      img
        @include border-radius(12px)

  .copy
    @include box-flex(1)
    padding: 8px 14px
    color: black

  .footer
    color: #999
    font-size: .8em
