@import 'compass'
@import "compass/reset"
@import "compass/css3/box"
@import "compass/css3/gradient"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"

body
  @include display-box
  @include box-orient(veritcal)
  @include box-align(stretch)
  margin: 0
  background-color: #eee
  font-family: 'Droid Serif', serif
  font-size: 16px

  a
    text-decoration: none

  .fill
    @include display-box
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0

  .content
    @include display-box
    @include box-orient(horizontal)
    @include box-align(stretch)

    text-shadow: #fff 1px 1px 0

  h1, h2
    font-family: 'Oswald', sans-serif
    font-weight: normal
  h1
    font-size: 1.5em
  h2
    font-size: 1.2em

  .left
    background-color: #525252

    padding: 14px
    width: 200px
    color: white

    h1
      text-shadow: none
      margin-bottom: 0.5em

    .avatar
      .img
        @include border-radius(12px)
        background-image: url(../images/dwf_small.jpg)
        width: 200px
        height: 187px

  .copy
    @include box-flex(1)
    @include box-shadow(#222, -3px, 0, 8px)
    padding: 8px 14px
    color: black

    h2
      margin: 1.2em 0 0.6em 0

    p
      margin: 0.5em 0 1.5em 0

    ul
      margin: 0.2em 0 0 2em
      list-style-type: circle

    .footer
      margin-top: 3em
      color: #999
      font-size: .8em

